.vertical-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 65vh;
}

#messageContainer .card .card-content .content {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-y: hidden;
}